<h1>Author: {{{author.name}}}</h1>

<p>{{{author.date_of_birth_formatted_2}}} - {{{author.date_of_death_formatted_2}}}</p>

<div style="margin-left:20px;margin-top:20px"></div>
  <h4>Books</h4>
  <dl>
    {{#each author_books as |book|}}
    <a href="{{{book.url}}}">{{{book.title}}}</a>
    <dd>
      {{{book.summary}}}
    </dd>
    {{else}}
    <p>This author has no books.</p>
    {{/each}}
  </dl>

<hr>
<p>
  <a href="{{author.url}}/delete">Delete author</a>
</p>
<p>
  <a href="{{author.url}}/update"> Update author</a>
</p>
