<h1>{{{title}}}: {{{book.title}}}</h1>
<p><strong>Author: </strong><a href="{{{book.author.url}}}">{{{book.author.name}}}</a></p>
<p><strong>Summary: </strong>{{{book.summary}}}</p>
<p><strong>ISBN: </strong>{{{book.isbn}}}</p>
<p><strong>Genre: </strong>
&nbsp;

{{#each book.genre as |val|}}
  <a href="{{{val.url}}}"> {{{val.name}}}</a>
  {{#ifLt @index ../count_genre 1}}
  ,
  {{/ifLt}}
{{/each}}

</p>

<div style="margin-left:20px;margin-top:20px"></div>  
<h4>Copies</h4>
{{#each book_instances as |val|}}
<hr>
{{#ifCond val.status 'Available'}}
<p class="text-success">{{{val.status}}}</p>
{{else}}
  {{#ifCond val.status 'Maintenance'}}
    <p class="text-danger">{{{val.status}}}</p>
    {{else}}
    <p class="text-warning">{{{val.status}}}</p>
  {{/ifCond}}
{{/ifCond}}
<p><strong>Imprint: {{{val.imprint}}}</strong></p>

{{#ifnotCond val.status 'Available'}}
<p><strong>Due back: {{{val.due_back}}}</strong></p>
{{/ifnotCond}}

<p><strong>Id:</strong>
    &nbsp;
    <a href="{{{val.url}}}">{{{val._id}}}</a>
</p>
{{else}}
<p>There are no copies of this book in the library.</p>

{{/each}}

<hr>
<p>
  <a href="{{book.url}}/delete"> Delete Book</a>
</p>
<p>
  <a href="{{book.url}}/update"> Update Book</a>
</p>