<h1>{{{title}}}: {{{book.title}}}</h1>

<p><strong>Author: </strong>
  <a href="{{book.author.url}}">{{book.author.name}}</a>
</p>
<p>
  <strong>Summary: </strong>{{book.summary}}
</p>
<p>
  <strong>ISBN: </strong>{{book.isbn}}
</p>
<p>
  <strong>Genre: </strong>
  {{#each book.genre as |val|}}
  <a href={{val.url}}>{{val.name}}</a>
  |, 
  {{/each}}
</p>

<hr>

{{#if book_instances.length}}
<p><strong>Delete the following copies before attempting to delete this book</strong></p>
<div style="margin-left:20px;margin-top:20px">
  <h4>Copies</h4>
  {{#each book_instances as |book_copy|}}
  <hr>
  {{#ifCond book_copy.status 'Available'}}
    <p class="text-danger">{{book_copy.status}}</p>
    {{else}}
      {{#ifCond book_copy.status 'Maintenance'}}
      <p class="text-danger">{{book_copy.status}}</p>
    {{/ifCond}}
  {{/ifCond}}
  <p><strong>Imprint:</strong>{{book_copy.imprint}}</p>
  {{#ifnotCond book_copy.status 'Available'}}
    <p><strong>Due back: </strong>{{book_copy.due_back}}</p>
  {{/ifnotCond}}
  <p><strong>Id: </strong>
    <a href={{book_copy.url}}>{{book_copy._id}}</a>
  </p>
  {{/each}}
</div>
{{else}}
<p>Do you really want to delete this Book?</p>
  <form method="POST" action=''>
    <div class="form-group">
      <input class="form-control" type="hidden" name="id" id="id" required="true" value={{book._id}}>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    
  </form>
{{/if}}

