<h1>{{title}}</h1>
  
<ul>
  {{#each book_list as |book|}}
    <li><a href={{book.url}}>{{{book.title}}}</a> ({{{book.author.name}}})</li>
  {{else}}
    <li> There are no books. </li>
  {{/each}}
</ul>
  